html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  /* Use as the main backdrop for the page and primary containers */
  --primary-color: #000814; 
  /* Use as the secondary backdrop for secondary containers */
  --secondary-color: #001D3D;
  /* Use as backdrop for main components (not containers) (buttons, forms, dropdowns, etc.) */
  --tertiary-color: #003566;
  /* Use for decorations (borders, highlights, etc.) */
  --quarternary-color: #FFC300;
  /*Use for fonts*/
  --pentiary-color: #FFFFFF;

  /*Common fonts*/
  --ui-font: Helvetica, "Times New Roman", serif
}


.scroll-area {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-stop: normal;
}


.container {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
