.container > * {
  direction: ltr;
}

.container {
  position: inherit;
}

.body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-items: center;
  align-items: center;
}
.footer {
  background-color: green;
}
.headerIcon {
  cursor: pointer;
  height: 100%;
}
.title {
  font: var(--ui-font);
  font-size: 1.3em;
  font-weight: bold;
  color: var(--pentiary-color);
}
.titleContainer {
  display: flex;
  justify-content: center;
  width: auto;
}
.titleLeft {
  font: var(--ui-font);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--pentiary-color);
  margin-left: 10%;
}
.titleRight {
  font: var(--ui-font);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--pentiary-color);
  margin-right: 10%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: var(--tertiary-color);
}

.textContainer {
  position: relative;
  margin: auto;
  width: 90%;
  min-height: 80%;
  max-height: 90%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid var(--quarternary-color);
}
.text {
  font: var(--ui-font);
  font-weight: bold;
  position: relative;
  color: var(--pentiary-color);
  padding: 1.2rem 1rem;
  z-index: 1;
}
